.wrapper{
    background-color: white;
    display: inline-flex;
    /* box-shadow: 0px 1px 5px rgba(0. 0. 0. 0.1); */
    border-radius: 5px;
    text-align: center;
    height: 45px;
    margin: 9px;
}

.wrapper1{
    padding: 20px;
}


.wrapper2{
    border: 1px solid #e8e8e8;
    padding: 2px;
    transition: 0.3s;
}


wrapper2:hover{
    box-shadow: 0px 5px 25px rgba(0. 0. 0. 0.1);
    border-left: 6px solid blue;
}

.companyName{
    font-size: 13.5px;
    background-color:#18E1D9 ;
    padding: 6px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
}



.skillchip{
    margin: 4px;
    padding: 6px;
    font-size: 14.5px;
    border-radius: 5px;
    transition: .3s;
    cursor: pointer;
    font-weight: 600;
    background-color: #18E1D9;
    color: #fff;
}

.post{
    margin-left: 900px;
}

.typo{
    margin-left:10px;
    font-family: 'Roboto', sans-serif ;
}

/* .cont1{
  background-color: #F96167;
  background-repeat: no-repeat;
  background-size: auto;
} */

.post{
    margin-left:1000px;
}